<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Anime Covers</title>
</head>
<body>
    <h1>Im working on it ;-;</h1>

    <div class="form container">
        <form>

        </form>
        <img alt="manga_cover" src="<%= coverArt  %>">
        <h1>Number of Volumes: <%= volumes %></h1>
    </div>
</body>
</html>
